/* agregamos la fuente que vamos a utilizar */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html{
    scroll-behavior: smooth;
}
/* Seccion Inicio */
#inicio{
    background: url(/img/fondo\ 5.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgb(27, 25, 25);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header a{
    text-align: center;
    color: rgba(244, 253, 120, 0.747);
    font-size: 22px;
    transition: .3s;
}

#inicio .contenido header .contenido-header a:hover{
    transform: translateZ(-3px) scale(1.2)
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    margin: 0 15px;
    font-weight: 400;
    transition: .5s;
    font-size: 13px;
    letter-spacing: 2px;
}


#inicio .contenido header .contenido-header nav ul a:hover{
    color: rgba(244, 253, 120, 0.747);
    
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
    font-size: 18px;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: rgba(244, 253, 120, 0.747);
    transform: translateY(-3px) scale(1.3)

}

#inicio .contenido header .contenido-header .seleccionado{
    color: rgba(244, 253, 120, 0.747);
}


#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 23px;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 37px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 30px;
    color: rgba(244, 253, 120, 0.747);
}

#inicio .contenido .presentacion .descripcion{
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 50px;
    color: rgb(211, 211, 211);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover{
    background-color: rgba(244, 253, 120, 0.747);
    color: black;
}

#icono-nav{
    color: rgb(211, 211, 211);
    display: none;
}

/* seccion sobre mi */

#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: rgb(17, 17, 17);
    display: flex;
    
}

#sobremi .contenedor-foto{
    max-width: 400px;
    margin-right: 40px;
}

#sobremi .contenedor-foto img{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    color: rgb(17, 17, 17);
    text-decoration: underline;
    text-decoration-color: rgba(244, 253, 120, 0.747);
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span{
    color: rgba(0, 0, 0, 0.644);;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 12px;
    color: #000;
}

#sobremi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
    padding: 10px 20px;
}

#sobremi .sobremi a:hover{
    background-color: rgba(244, 253, 120, 0.747);
}

/* Seccion Habilidades */
#skills .titulo-seccion{
    font-size: 22px;
    color: rgb(211, 211, 211);
    letter-spacing: 3px;
}
.contenedor-skills{
    background: url(/img/fondo\ 9.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info{
    display: flex;
    justify-content: space-between;
    color: rgb(211, 211, 211);
}

.contenedor-skills .skill .lista{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: rgba(244, 253, 120, 0.747);
    border-radius: 10px;
}

.contenedor-skills .skill .barra{
    background-color:rgb(211, 211, 211);
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

.contenedor-skills .skill .barra-progreso1{
    background-color: rgba(244, 253, 120, 0.747);
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}
.contenedor-skills .skill .barra-progreso2{
    background-color: rgba(244, 253, 120, 0.747);
    width: 95%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra-progreso3{
    background-color: rgba(244, 253, 120, 0.747);
    width: 85%;
    height: 6px;
    animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra-progreso4{
    background-color: rgba(244, 253, 120, 0.747);
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}
.contenedor-skills .skill .barra-progreso5{
    background-color: rgba(244, 253, 120, 0.747);
    width: 75%;
    height: 6px;
    animation: progreso5 2s forwards;
}

/* animaciones barras */
@keyframes progreso1 {
    0%{
        width: 0;
    }
    100% {
        width: 95%;
    }
}
@keyframes progreso2 {
    0%{
        width: 0;
    }
    100% {
        width: 95%;
    }
}
@keyframes progreso3 {
    0%{
        width: 0;
    }
    100% {
        width: 85%;
    }
}
@keyframes progreso4 {
    0%{
        width: 0;
    }
    100% {
        width: 85%;
    }
}
@keyframes progreso5 {
    0%{
        width: 0;
    }
    100% {
        width: 75%;
    }
}

/* Seccion Portfolio */
#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portfolio .titulo-seccion{
    text-align: center;
    font-size: 22px;
    color: rgb(17, 17, 17);
    text-decoration: underline;
    text-decoration-color: rgba(244, 253, 120, 0.747);
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto{
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img{
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgb(27, 25, 25);
    color: rgba(244, 253, 120, 0.747);
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info{
    opacity:1;
    bottom: 0;
}
/* rgb(27, 25, 25); rgba(244, 253, 120, 0.747); rgb(211, 211, 211);*/
/* Seccion contacto */

#contacto{
    padding: 100px 15px;
}

#contacto .titulo-seccion{
    padding: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    color: rgb(27, 25, 25);
    text-decoration: underline;
    text-decoration-color: rgba(244, 253, 120, 0.747);
    text-decoration-thickness: 5px;
    text-align: center;
}

#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}
#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}
#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid rgb(27, 25, 25);
}

#contacto .contenedor-form .mitad input{
    width: 48%;
}

#contacto .contenedor-form .input-full{
    width: 100%;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 16px;
}

#contacto .btn-enviar:hover{
    background-color: rgba(244, 253, 120, 0.747);
    color: #000;
}
/* Seccion Footer */

.pie-pagina{
    width: 100%;
    background-color: rgb(27, 25, 25);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box .figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box .juan{
    color: rgb(211, 211, 211);
}

small, b{
    color: rgb(211, 211, 211);
}

.pie-pagina .grupo-1 .box .proyectos{
    margin-bottom: 25px;
    color: rgb(211, 211, 211);
}


.pie-pagina .grupo-1 .box a{
    display: inline-block;
    text-decoration: none;
    color: rgb(211, 211, 211);
    transition: .5s;
}

.pie-pagina .grupo-1 .box a:hover{
    color: rgba(244, 253, 120, 0.747);
}

.pie-pagina .grupo-1 .box .contacto-juan{
    margin-bottom: 25px;
    color: rgb(211, 211, 211);
}

.pie-pagina .grupo-1 .box .redes-juan .juan-redes{
    color: rgba(244, 253, 120, 0.747);
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    transition: .5s;
}

.pie-pagina .grupo-1 .box .redes-juan .juan-redes:hover{
    transform: translateZ(-3px) scale(1.3)
}

.pie-pagina .grupo-2{
    background-color: rgb(41, 38, 38);
    padding: 15px;
    text-align: center ;
}

/* Seccion Responsive */

@media screen and (max-width:800px){
    .redes{
        display: none;
    }

    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0, 0, 0, 0.808);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
    }
    #inicio .contenido .presentacion h2{
        font-size: 35px;
    }
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }

    #sobremi .contenedor-foto img{
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }
    .contenedor-skills{
        padding: 50px 20px;
    }
    #portfolio{
        padding: 50px 0;
    }
    #portfolio .fila{
        display: block;
    }
    #portfolio .fila .proyecto{
        margin: 10px auto;
    }

    #contacto{
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input{
        width: 100%;
        margin-bottom: 15px;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}
